        <mat-toolbar color="primary"
                     role="heading"
                     style="padding-left: 8px">
            <button type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    class="no-print"
                    (click)="handleDrawerOpen(menuDrawer)">
                <mat-icon aria-label="Side nav toggle icon" title="Menu">menu</mat-icon>
            </button>

  
        </mat-toolbar>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->